//
   Created by glendex on 3/28/16.

block navigation

    ul.nav_list
        li.nav_link
            a(href="/tasks") All tasks
        li.nav_link
            a(href="/tasks/completed") Completed
        li.nav_link
            a(href="/about") About this application

